.hidden {
    display: none !important;
}

#btnVentas {
    background-color: red;
}

#ultimoProducto {
    text-align: center;
}


.imagenUltimoProducto {
    width: 200px;
    height: 150px;
}

#carrito {
    list-style: none;
    padding: 0;
}


#carrito li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eliminar {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.eliminar:hover {
    background-color: #cc0000;
}

#listaProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#listaProductos li {
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.imagenEnLista {
    width: 200px;
    height: 150px;
}

.onstate-datos { display: block; }
.offstate-datos { display: none; }
